<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   <form class="w-50 d-block mx-auto" method="post" action="/sundaes/submit">
    <h1>Make a Sundae</h1>
    <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input title="cool" type="text" name="name" class="form-control">
      </div>
      <button title="butto" type="submit"></button>
  
       </form>
</body>
</html>