<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">NAVBOO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Top Clippets</a>
            <a class="nav-item nav-link" href="#">Your Clips</a>
            <a class="nav-item nav-link" href="#">Browse Clips</a>
            
          </div>
        </div>
      </nav>
      ALL CLIPS VIEW
      <div class="clipGrid">
    <div class="clipCard">
        <div class="clipElements"></div>
        <div class="clipElements"></div>
        <div class="clipElements"></div>
        <div class="clipElements"></div>
        <div class="clipElements"></div>
        </div>

    
    <div class="clipCard">
    <div class="clipElements"></div>
    <div class="clipElements"></div>
    <div class="clipElements"></div>
    <div class="clipElements"></div>
    <div class="clipElements"></div>
    </div>
    <div class="clipCard">
    <div class="clipElements"></div>
    <div class="clipElements"></div>
    <div class="clipElements"></div>
    <div class="clipElements"></div>
    <div class="clipElements"></div>
    </div>
    <div class="clipCard">weow</div>
    <div class="clipCard">weow</div>
    <div class="clipCard">weow</div>
    <div class="clipCard">weow</div>
    <div class="clipCard">weow</div>
    <div class="clipCard">weow</div>
    

</div>
</body>
</html>